In [10]:
import psycopg2
import json

try:
    with open('db_credentials.json', 'r') as f:
        data = json.load(f)
        USER = data['username']
        PASS = data['password']

except Exception as e:
    print(e)

In [4]:
try:
    conn = psycopg2.connect(
        host='localhost',
        database='udacity',
        user=USER,
        password=PASS
    )
    conn.set_session(autocommit=True)
    cur = conn.cursor()

except Exception as e:
    print(e)

In [15]:
cur.execute('DROP TABLE IF EXISTS transactions2, albums_sold, employees, sales')

In [16]:
cur.execute('''
CREATE TABLE IF NOT EXISTS transactions2 (
    transaction_id INT,
    customer_name VARCHAR(50),
    cashier_id INT,
    year SMALLINT CHECK(year > 0)
)
''')

cur.execute("""
CREATE TABLE IF NOT EXISTS albums_sold (
    album_id INT,
    transaction_id INT,
    album_name VARCHAR(50)
)
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS employees (
    employee_id INT,
    employee_name VARCHAR(50)
)
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS sales (
    transaction_id INT,
    amount_spent INT
)
""")

In [17]:
try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, cashier_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, "Amanda", 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, cashier_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, "Toby", 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, cashier_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, "Max", 2, 2018))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (1, 1, "Rubber Soul"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (2, 1, "Let It Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (3, 2, "My Generation"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (4, 3, "Meet the Beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (5, 3, "Help!"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employees (employee_id, employee_name) \
                 VALUES (%s, %s)", \
                 (1, "Sam"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employees (employee_id, employee_name) \
                 VALUES (%s, %s)", \
                 (2, "Bob"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)    
    
try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (1, 40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)    
    
try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (2, 19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e) 

try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (3, 45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [23]:
cur.execute("""
SELECT transactions2.transaction_id, customer_name, employee_name, year, albums_sold, amount_spent FROM ((transactions2 
    JOIN albums_sold
    ON transactions2.transaction_id = albums_sold.transaction_id)
    JOIN employees ON employees.employee_id = transactions2.cashier_id)
    JOIN sales ON sales.transaction_id = transactions2.transaction_id 
""")
cur.fetchall()

[(1, 'Amanda', 'Sam', 2000, '(1,1,"Rubber Soul")', 40),
 (1, 'Amanda', 'Sam', 2000, '(2,1,"Let It Be")', 40),
 (2, 'Toby', 'Sam', 2000, '(3,2,"My Generation")', 19),
 (3, 'Max', 'Bob', 2018, '(4,3,"Meet the Beatles")', 45),
 (3, 'Max', 'Bob', 2018, '(5,3,Help!)', 45)]

#### In order to make certain queries easier for ourselves, we try creating new tables to address our needs.

In [24]:
cur.close()
conn.close()