In [2]:
import cassandra
from cassandra.cluster import Cluster

try:
    cluster = Cluster(['localhost'])
    session = cluster.connect()
except cassandra.UnresolvableContactPoints as e:
    print('Error: Unable to connect to Cluster')

In [3]:
session.execute('''
CREATE KEYSPACE IF NOT EXISTS udacity
WITH REPLICATION = 
{ 'class': 'SimpleStrategy', 'replication_factor': 1 }
''')

In [4]:
session.set_keyspace('udacity')

In [5]:
query = '''
CREATE TABLE IF NOT EXISTS music_library (
    song_title TEXT,
    artist_name TEXT,
    year INT,
    album_name TEXT,
    single BOOLEAN,
    PRIMARY KEY ((year, artist_name), album_name, song_title)
)'''

session.execute(query)

In [10]:
query = """
INSERT INTO music_library
(song_title, artist_name, year, album_name, single)
VALUES
('Across the Universe', 'The Beatles', 1970, 'Let it Be', False)
"""

session.execute(query)

query = """
INSERT INTO music_library
(song_title, artist_name, year, album_name, single)
VALUES
('Think for yourself', 'The Beatles', 1965, 'Rubber Souls', False)
"""

session.execute(query)

In [18]:
query = """
SELECT * FROM music_library
WHERE year=1970 AND artist_name='The Beatles'
"""
data = session.execute(query)

for row in data:
    print(f'{row.year}, {row.artist_name}, {row.album_name}, {row.song_title}, {row.single}')

1970, The Beatles, Let it Be, Across the Universe, False

In [19]:
session.shutdown()
cluster.shutdown()