In [2]:
import cassandra
from cassandra.cluster import Cluster

try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [5]:
try:
    session.execute('SELECT * FROM music_library')
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [7]:
query = """
CREATE KEYSPACE IF NOT EXISTS udacity
WITH REPLICATION = 
{ 'class': 'SimpleStrategy', 'replication_factor': 1 }
"""

try:
    session.execute(query)
except Exception as e:
    print(e)

In [8]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [10]:
session.execute('''
CREATE TABLE IF NOT EXISTS music_library (
    year INT,
    artist_name TEXT,
    album_name TEXT,
    PRIMARY KEY (year, artist_name)
)
''')
data = session.execute('SELECT COUNT(*) FROM music_library')
data.one()

Row(count=0)

In [28]:
query = """
INSERT INTO music_library
(year, artist_name, album_name)
VALUES
(1970, 'The Beatles', 'Let it Be')
"""

session.execute(query)

query = """
INSERT INTO music_library
(year, artist_name, album_name)
VALUES
(1965, 'The Beatles', 'Rubber Soul')
"""

session.execute(query)

In [30]:
query = 'SELECT * FROM music_library'

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, ',', row.artist_name, ',', row.album_name)

1965 , The Beatles , Rubber Soul
1970 , The Beatles , Let it Be

In [31]:
query = 'SELECT * FROM music_library WHERE year=1970'

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, ',', row.artist_name, ',', row.album_name)

1970 , The Beatles , Let it Be

In [32]:
session.execute('DROP TABLE IF EXISTS music_library')
session.shutdown()
cluster.shutdown()