In [1]:
from cassandra.cluster import Cluster


try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()

except Exception as e:
    print(e)

In [2]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION = 
    { 'class': 'SimpleStrategy', 'replication_factor': 1 }
    """)
except Exception as e:
    print(e)

In [3]:
session.set_keyspace('udacity')

In [18]:
session.execute("""
DROP TABLE IF EXISTS music_library
""")

In [19]:
session.execute("""
CREATE TABLE IF NOT EXISTS music_library (
    year INT,
    album_name TEXT,
    artist_name TEXT,
    PRIMARY KEY (year)
)
""")

In [20]:
query = """
INSERT INTO music_library
(year, album_name, artist_name)
VALUES
(%s, %s, %s)
"""

session.execute(query, (2000, 'Something', 'Someone'))
session.execute(query, (2000, 'Anotherthing', 'Someone'))
session.execute(query, (2001, 'Something', 'Someone'))
session.execute(query, (2002, 'Something', 'Someone'))

In [21]:
rows = session.execute("SELECT * FROM music_library WHERE year=2000")
for row in rows:
    print(row.year, row.artist_name, row.album_name)

2000 Someone Anotherthing

In [13]:
session.execute("""
DROP TABLE IF EXISTS music_library_2
""")

In [14]:
session.execute("""
CREATE TABLE IF NOT EXISTS music_library2 (
    year INT,
    album_name TEXT,
    artist_name TEXT,
    PRIMARY KEY ((year), album_name, artist_name)
)
""")

In [16]:
query = """
INSERT INTO music_library2
(year, album_name, artist_name)
VALUES
(%s, %s, %s)
"""

session.execute(query, (2000, 'Something', 'Someone'))
session.execute(query, (2000, 'Anotherthing', 'Someone'))
session.execute(query, (2001, 'Something', 'Someone'))
session.execute(query, (2002, 'Something', 'Someone'))

In [17]:
rows = session.execute("SELECT * FROM music_library2 WHERE year=2000")
for row in rows:
    print(row.year, row.artist_name, row.album_name)

2000 Someone Anotherthing
2000 Someone Something